.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.title {
  margin-top: 20;
}

form {
  min-width: 70%;
}

.btnContainer {
  display: flex;
  justify-content: center;
}

html, body { height: 100vh; }